.Card{
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: 350px;
    border: 10px solid #d6d6d6;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    transition: 0.3s ease;   
    text-align: center;
    align-content: center;
    font-size: small;
    padding: 10px 25px;    
}

.Card h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    height: 70px;
    
}

.Card img{
    width: 130px;
    height: 110px;
    margin-top: 10px;
}

.Card div{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 15px;
    font-size: 15px;
}

.Card button{
    border-radius: 10px;
    margin-top: 10px;
        
}
   