.CategoryFilter {
    cursor: pointer;
    border: 1px solid;
    border-radius: 3px;
    background-color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .CategoryFilter.selected {
    background-color: lightgrey;
  }
  .CategoryFilter.selected::after {
    content: "X";
    margin-left: 10px;
  }