.Header{
    background-color:grey;
    display: flex;
    height: 15vh;
    align-items: center;     
}


.Header-img{
    height: 100px;
    width: 300px;
}

.Added_Item, .Item_Price{
    position: relative;
    border: 10px;
    color: whitesmoke;
    margin: 20px 10px;
    
}